header{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url(CVwallpaper);

}

.titre{
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
    
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: aliceblue;
    padding: 0.5%;
}

.bann{
    width: 10%;
    
}

.photo{
    width: 100%;
    border-radius: 50%;
}

.lien{
    display: flex;
    flex-direction: column;
}

.lien a {
    padding-bottom: 3%;
}

.onglet{
    padding: 0.2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.onglet a{
    color: white

}











main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}



.corpus{
    
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.corpus h4{
    display: flex;
    justify-content: center;
}

.bloc{
    display: flex;
    flex-direction: column;
}

.bloc img{
    width: 50%;
    border-radius: 50%;
}


.intitule{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.description{
    display: flex;
    flex-direction: column;
}



@media only screen and (max-width : 500px){

    nav{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        background-image: url(CVwallpaper);
        color: aliceblue;
        padding: 0.5%;
    }

    .profil{
        position: relative;
        width: 20%;
        padding-top: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}