body{
   
}

header{
    position: fixed;
    width: 100%;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-image: url(CVwallpaper);
    color: aliceblue;
    padding: 1%;
}

nav img{
    width: 15%;
    border-radius: 50%;
}

.onglet{
    display: flex;
    flex-direction: column;
}


.titre{
    display: flex;
    flex-direction: column;
    align-items: center;
}







.profil{
    position: fixed;
    width: 20%;
    padding-top: 20%;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.corpus{
    margin-top: 20%;
    margin-left: 40%;
}



.list-hard{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}


