

header{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url(CVwallpaper.png);

}

.titre{
    display: flex;
    flex-direction: column;
    
}

nav{
    
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: aliceblue;
    padding: 0.5%;
}

.bann{
    width: 10%;
    
}

.photo{
    width: 100%;
    border-radius: 50%;
}

.lien{
    display: flex;
    flex-direction: column;
}

.lien a {
    padding-bottom: 3%;
}

.onglet{
    padding: 0.2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.onglet a{
    color: white

}






.bloc{
    margin-bottom: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.corpus{
    
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.corpus h4{
    display: flex;
    justify-content: center;
}



.bloc img{
    width: 50%;
    border-radius: 50%;
}



.intitule{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}



@media only screen and (max-width:500px){

    .bann{
        display: none;
    }
#texte1{
display: none;
}

#texte2{
    display: none;
}

#texte3{
    display: none;
}

}









