body{
    
}

header{
width: 100%;
}

.card{
    border: solid;
    border-color: slategray;
    width: 20rem;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.corpus{
    width: 90%;
}

.list-hard{
    display: flex;
    flex-direction: row;

}



.carousel-fade{
  
}

.imgSlide{
border-radius: 10%;
}